@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button,
  a {
    @apply !ring-0 !ring-offset-0;
  }
}

/* DataTables */
.dataTables_filter label {
  @apply inline-flex items-center gap-2 font-medium text-sm text-gray-700 dark:text-gray-300;
}

.dataTables_filter label input {
  @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-0 rounded-md shadow-sm p-1;
}

.dataTable thead th {
  @apply px-6 py-3 cursor-pointer whitespace-nowrap;
}

.dataTable tbody tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
}

.dataTable tbody tr td {
  @apply px-6 py-4;
}

.dataTable .dataTables_empty {
  @apply p-4 font-medium text-center;
}

.dataTables_paginate {
  @apply float-right mt-4 text-gray-500 dark:text-gray-400;
}

.dataTables_paginate .paginate_button {
  @apply cursor-pointer p-2 hover:text-gray-800 hover:dark:text-gray-200;
}

.dataTables_paginate .paginate_button.current {
  @apply text-gray-800 dark:text-gray-200;
}
